.HomeContent
    background: orange
    background-size: cover
    background-repeat: no-repeat
    padding: 120px 0
    .displays
        width: 100%
        overflow: hidden
        img
            width: 100%
    .overall
        padding: 10px 20px
        color: $White
        .objectives
            display: flex
            align-items: center
            justify-content: space-evenly
            div
                width: 50%
        .twitter
            overflow-y: scroll
            height: 50vh
            padding-bottom: 20px
            width: 50%

        